<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Nộp phạt online</div>

                    <a class="nav-link" href="allaccount.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Xem thông tin
                    </a>
                    <a class="nav-link" href="addaccount.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                Nộp phạt
                    </a>
                    @*<a class="nav-link" href="deleteaccount.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-slash"></i></div>
                        Xoá tài khoản
                    </a>*@
                    <div class="sb-sidenav-menu-heading">Lịch hẹn của bạn </div>
                    <a class="nav-link" href="allschedule.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                        Xem lịch hẹn
                    </a>
                    <a class="nav-link" href="allschedule.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                        Tạo lịch hẹn
                    </a>
                    <a class="nav-link" href="deleteschedule.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-calendar-times"></i></div>
                        Xoá lịch hẹn
                    </a>
                    <div class="sb-sidenav-menu-heading">Hồ sơ của bạn</div>
                    <a class="nav-link" href="allfiles.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        Tra cứu hồ sơ
                    </a>
                    @*<a class="nav-link" href="unaprovedfiles.html">
            <div class="sb-nav-link-icon"><i class="fas fa-file-edit"></i></div>
            Hồ sơ chưa duyệt
        </a>
        <a class="nav-link" href="aprovedfiles.html">
            <div class="sb-nav-link-icon"><i class="fas fa-file-check"></i></div>
            Hồ sơ đã duyệt
        </a>
        <a class="nav-link" href="rejectedfiles.html">
            <div class="sb-nav-link-icon"><i class="fas fa-file-times"></i></div>
            Hồ sơ bị loại
        </a>*@
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h2 class="mt-4">Quản lý hồ sơ</h2>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Tất cả hồ sơ
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>