
@{ ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<div id="divData" class="well hidden">
    <div id="Ten">Name: </div>
    <div id="DienThoai">Phone number: </div>
    <div id="DiaChi">Address: </div>
    <div id="Username">Username: </div>

    
</div>



