<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="/IMG/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
        </div>
        <div class="info">
            <a href="#" class="d-block">Duc Cao</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search" />
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>

    

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->

            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>Notify User</p>
                </a>
            </li>



            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>Navigation Screen</p>
                </a>
            </li>



            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-edit"></i>
                    <p>
                        Customer
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <!-- CUSTOMER -->
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Views/vwCustomer/AllCustomer.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Customer</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Views/vwCustomer/AddCustomer.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Customer</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Views/vwCustomer/EditCustomer.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Edit Customer</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Views/vwCustomer/DeleteCustomer.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Delete Customer</p>
                        </a>
                    </li>

                </ul>
            </li>


            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-edit"></i>
                    <p>
                        User Profile
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <!-- Profile -->
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Views/vwProfile/AllProfile.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All User Profiles</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Views/vwProfile/AddProfile.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add User Profile</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Views/vwProfile/EditProfile.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Edit User Profile</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Views/vwProfile/DeleteProfile.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Delete User Profile</p>
                        </a>
                    </li>
                </ul>
            </li>







            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-table"></i>
                    <p>
                        Feedback
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="pages/tables/simple.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Feedback List</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="pages/tables/data.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Delete Feedback</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="pages/tables/jsgrid.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Edit Feedback</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->