<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body style="padding-top:20px">
    <div class="col-md-10 col-md-offset-1">
        <div class="well">
            <!--This table contains the fields that we want to capture to register a new user-->
            <table class="table table-bordered">
                <thead>
                    <tr class="success">
                        <th colspan="2">
                            New User Registration
                        </th>
                    </tr>
                </thead>
                <span id="spanUsername" class="text-muted"></span>

                <tbody>
                    <tr>
                        <td>Ten Khach Hang</td>
                        <td><input type="text" id="txtName" placeholder="Name" required /> </td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td><input type="text" id="txtUsername" placeholder="Username" required/> </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="password" id="txtPassword"
                                   placeholder="Password" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>So Dien Thoai</td>
                        <td><input type="text" id="txtPhone" placeholder="Phone" required/> </td>
                    </tr>
                    <tr>
                        <td>Dia Chi</td>
                        <td><input type="text" id="txtAddress" placeholder="Address" required/> </td>
                    </tr>
                    <tr class="success">
                        <td colspan="2">
                            <input id="btnRegister" class="btn btn-success"
                                   type="button" value="Register" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--Bootstrap modal dialog that shows up when regsitration is successful-->
            <div class="modal fade" tabindex="-1" id="successModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                            <h4 class="modal-title">Success</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <h2 class="modal-title">Registration Successful!</h2>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success"
                                    data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Bootstrap alert to display any validation errors-->
            <div id="divError" class="alert alert-danger collapse">
                <a id="linkClose" href="#" class="close">&times;</a>
                <div id="divErrorText"></div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //Close the bootstrap alert
            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });

            // Save the new user details
            $('#btnRegister').click(function () {
                $.ajax({
                    url: `https://localhost:44328/api/register`,
                    method: 'POST',
                    data: {
                        username: $('#txtUsername').val(),
                        password: $('#txtPassword').val(),
                        name: $('#txtName').val(),
                        phone: $('#txtPhone').val(),
                        address: $('#txtAddress').val()
                    },
                    success: function () {
                        $('#successModal').modal('show');
                        window.location.href = `https://localhost:44356/Login`;
                    },
                    error: function (jqXHR) {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                });
            });
        });
    </script>
</body>
</html>